@{
  Layout = "_Layout";
}

@model Museum.Models.Artist

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.ArtistName): @Html.DisplayFor(model => model.ArtistName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<hr />
@Html.ActionLink("Back to List", "Index")